@model Product
@{
    ViewData["Title"] = "Edit";
}
<!--TagHelper-->
<form asp-controller="Home" asp-action="Edit" method="post" enctype="multipart/form-data">
    <!--
        enctype="multipart/form-data" ==> resim dosyasının uzantısı seçildiği bilgisi gitsin diye
    -->
    <div asp-validation-summary="All"></div><!--Tüm hatalar görünsün diye-->
    <input type="hidden" asp-for="ProductId">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span><!--Burdaki validationhatalar görünsün diye-->
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price"></span><!--Burdaki validationhatalar görünsün diye-->
    </div>
    <div class="input-group mb-3">
        <input type="file" name="imageFile" id="imageFile" class="form-control">
    </div>
    <div>
        <img src="~/img/@Model.Image" alt="" style="width: 100px;"><!--Resim güncellenmesi için gösterdim-->
        <input type="hidden" asp-for="@Model.Image"><!--Eğer yeni resim seçmediysek te eski hali kalsın diye,hidden demek kullanıcı bunu görmesini engelliyorum bu bilgiyi gizli alıyorum-->
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select" >
            <!--
                asp-items="ViewBag.Categories" ==> bu kodla listedeki elemanlar direk gelir 
            -->
            <option value="">Hepsi</option>
        </select>
        <span asp-validation-for="CategoryId"></span><!--Burdaki validationhatalar görünsün diye-->
    </div>
    <div class="mb-3 form-check">
        <input asp-for="IsActive" class="form-check-input">
        <label asp-for="IsActive" class="form-check-label"></label>
        <span asp-validation-for="IsActive"></span><!--Burdaki validationhatalar görünsün diye-->
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>